* {
    font-family: 'Silkscreen', cursive;
    color: white;
    background-color: black;
   
    border: solid red 1px;
}
body {
    position: relative;
    margin-left: 0;
    margin-top: 100px;
}   
nav {
    border:solid 3px rgb(190, 195, 241);
    position: fixed;
    top: 0;
    background-color: bisque;
    width: 100%;
    padding: 10px;

}
nav ul {
    width: 100%;
    background-color: bisque;
}
nav li {
    padding-left: 50px;
    background-color: bisque;
    width: 80px;
    display: inline-flex;
}
 nav a {
    text-decoration: none;
 }
 a:hover {
    transform: scale(1.5);
 }
