* {
    font-family: 'Silkscreen', cursive;
    color: white;
    background-color: black;
   
}
body {
    margin-left: 0;
    margin-top: 100px;
}   
nav {
    z-index: 1;
    border:solid 3px rgb(114, 107, 107);
    position: fixed;
    top: 0;
    background-color: bisque;
    width: 100%;
    padding: 10px;

}
nav ul {
    background-color: bisque;
}
nav li {
    padding-left: 50px;
    background-color: bisque;
    display: inline-flex;
}
 nav a {
    padding: 10px;
    background-color: rgb(114, 107, 107);
    
    opacity: .8;
    text-decoration: none;
 }
 a:hover {
    transform: scale(1.5);
 }
.home {
    text-align: center;
    font-size: x-large;
    width: 100%;
    z-index: 0;
    top: -2px;
    position: relative;
    margin: 0;
    opacity: 0.9;
    padding: 90px;
    background-image: url("./pics/869.jpg");
}
.htmlheadline {
    padding-top: 70px;
    text-align: center;
    font-size: 100px;
  }

.tableheadlines {
    text-align: center;
    font-size: xx-large;
  }

.firsttable td {

   
    height: 40px;
    border: solid 1px white;
  
   
}
table {
    margin-left: auto;
    margin-right: auto;
    border: solid 1px rgb(247, 247, 247);
    
   
}
table th{
    
    background-color: rgba(255, 0, 0, 0.411);
    
   
}



.c1 {
   background-color: rgb(143, 19, 112);M
    width: 150px;
}
.c2 {
    width: 150px;
}
.c3 {
    text-align: center;
}
