* {
    font-family: 'Silkscreen', cursive;
    color: white;
    background-color: black;
}
body {
    margin: 0;
}   
nav {
    
    padding: 20px;
    background-color: bisque;
}
nav li {
 
    margin: 30px;
    text-decoration: none;
    width: 80px;
    display: inline-block;
}
 nav a {
  
    text-decoration: none;
 }
 a:hover {
    font-size: larger;
 }
